/wyomingProcessing/*.json
/wyomingProcessing/*.onnx
/wyomingProcessing/.locks/*
/wyomingProcessing/temp/*
/wyomingProcessing/__pycache__/*
/wyomingProcessing/models--rhasspy--faster-whisper-medium-int8/*
/AIProcessing/